:root {
    --mainTextColor: #2B3D41;
    --secondaryTextColor: #2B3D41;
    --tertiaryTextColor: #ebfafa;
    

    --mainBordercolor: #a7bccc;
    --secondaryBorderColor:#25274d;
 
    --backgroundColor1: #D6C3C9;
    --backgroundColor2: #B49082;
    --backgroundColor3: #4C5F6B;

    --bannerColors: #BADA55;

    --buttonColor1: white;

    --backdropColorMain: #2B3D41;
    --backdropColorSecond: #13131E;
}